{% extends 'base.html.twig' %}

{% block title %}Page Accueil
{% endblock %}

{% block body %}
	<h1>Page d'accueil</h1>
	
	

	<p>en cours de construction
	</p>
	<a href="{{ path('series_poster') }}">back to list</a>

{% endblock %}

