{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>

    <table class="table">
        <tbody>
            {% for series in series %}
            <div>
                <h2>{{ series.title }}</h2>
                <img src="{{path('controleur_poster_series_show', {'id':series.id})}}" />
            </div>
            
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('series_index') }}">back to list</a>

   
{% endblock %}
