{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link href="{{ asset('CSS/poster.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Series
<form id= "searchbox" method= get >
	<input name=q type=text size=15 placeholder= "Type here…"/>
	<input id="button-submit" type=submit value=Search  />
</form>

{% endblock %}

{% block body %}
	<div id="poster">
		<h1>Series</h1>

		<div id="tablePoster">

			{% for series in series %}

					<div class="imgLien">
						<a href="{{ path('series_show', {'id': series.id}) }}"><img class="imgInfo" src="{{path('controleur_poster_series_show', {'id':series.id})}}"/></a>
                        <p class="textInfo">{{ series.title }}</p>

				</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}

