#Apropos {
  color: rgb(235, 230, 224);
}


.tftable {
  font-size: 12px;
  color: rgb(14, 13, 13);
  width: 100%;
  border-width: 1px;
  margin-top: 5px;
  border-color: #a9a9a9;
  border-collapse: collapse;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tftable th {
  font-size: 15px;
  font-weight: bold;
  background-color: #b8b8b8;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9a9a9;
  text-align: left;
}
.tftable tr {
  background-color: #cdcdcd;
}
.tftable td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9a9a9;
  align-items: center;
  text-align: center;
}
.tftable tr:hover {
  background-color: #ffffff;
}
