#poster {
  color: rgb(235, 230, 224);
  padding-left: 3%;
  padding-right: 3%;
  height: calc(95vh-20px);
}

#menuShearch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding-left: 2vh;
  padding-right: 10vh;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.submitBouton{
  height: 4vh;
  width: 3vw;
  border: unset;
  background-color: transparent;
  transition: all 2s;
  
}
.submitBouton:hover{
  border: solid 1px rgba(235, 230, 224, 0.226) ;
  
}

.submitBouton img{
  height: 100%;
}

#shearch{
  width: 18vw;
  border-radius: 1px;
  display: none;
  border: unset;
}


#tablePoster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 84vh;
}



.imgLien {
  height: 36vh;
  text-align: center;
  width: calc(100% / 6);
  margin-top: 6vh;
}

.imgInfo {
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}
.imgLien:hover .imgInfo {
  opacity: 0.1;
}

.textInfo {
  visibility: hidden;
  transition: transform 0.3s;
  font-weight: bold;
  opacity: 0.8;
}

.imgLien:hover .textInfo {
    transform: translate(0,-100px);
    visibility: visible;
  }

  @media (min-width: 800px) and (max-width: 1200px){
    .imgLien {
        width: calc(100% / 4);
    }
  }
  @media (max-width: 800px){
    .imgLien {
        width: calc(100% / 2);
    }
  }

  .navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(221, 0, 0);
  }

  .navigation a {
    color: rgb(235, 230, 224);
    text-decoration: none;
    
  }

  .navigation a:hover {
text-decoration: underline;
  }

  #user{
    color: rgb(235, 230, 224);
  }
  #deconnexion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:3vw ;
    padding-right: 8vw;
    align-items: center;
  }

  .btn{

    background:rgb(235, 230, 224);
    color:black;
    transition: 0.2s;
    font-weight: 600;
    border: unset;
    text-decoration: none;
    padding: 5px;
}

.btn:hover{
    background-color:rgb(221, 0, 0) ;
    color: rgb(235, 230, 224);
}
.btn:active{border-radius: 5px;}