{% extends 'base.html.twig' %}

{% block title %}
	Page Accueil
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('CSS/acceuil.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block header %}{% endblock %}
{% block body %}
	<div id="acceuil">
		<div id="titre">
			<h1>N</h1>
			<h1>E</h1>
			<h1>T</h1>
			<h1>F</h1>
			<h1>L</h1>
			<h1>U</h1>
			<h1>X</h1>
		</div>
		<a href="{{ path('series_poster') }}"><span>C'est parti !</span></a>
	</div>


{% endblock %}

