{% extends 'base.html.twig' %}

{% block title %}episodes
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('CSS/info.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
		<div id="infos">
			{% for episode in episodes %}
					{{episode.number}} // {{episode.title}} <br>

			{% endfor %}

			
		</div>


{% endblock %}

